/*Prélude*********************************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  scroll-behavior: smooth;
  /*font-family: 'Roboto', sans-serif;*/
  font-family:'cocomatultralight';
  color: white;;
}


html{
  box-sizing: border-box;
  /*scroll-behavior: smooth;*/
}

a{
  text-decoration: none;
  color: white;
}

/*Corps**********************************************************/

.section{
  height: 100vh;
  width: 100%;
  background-color: white;
  border-bottom: 1px grey;
  display: flex;
  flex-direction: column;
}

video{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

#section1{
  /*background-image: url(CV1.png);*/
  /*height: 100%;*/
  width: 100%;
  background-size: 100%;
  /*background-position: 10%;*/
  background-color: inherit;
}

/*section 1*****************************************************/

header{

  display: flex;
  width: 100%;
}

ul{
  margin-top: 15vh;
  width:100vw;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 10vw;
}

#prenom{
  font-size: 2.6em;
  font-weight: bold;
  position: absolute;
  margin-top: 15vh;
  /*font-size: 1.4em;*/
  margin-left: 10vw;
  /*font-family: 'Roboto';*/
  font-family:'cocomatultralight';

}

li{
  font-family: 'Roboto';
  margin-left: 50px;
  font-size: 1.2em;
}

#intro{
  display: flex;
  height: 50vh;
  width: 70vw;
  margin: auto auto;
  justify-content: center;
  align-items: center;
}

#textIntro{
  font-size: 2.4em;
  display: flex;
  font-weight: 500;
  font-family: 'La Belle Aurore', cursive;

}

/*#rondScroll{
  display: flex;
  margin: 30px auto;
  height: 70px;
  width: 70px;
  border: 1px solid red;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
}

#rondScroll:hover{
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s;
}

#rondScroll:hover #textScroll{
  color: red;
}

#textScroll{
  font-style: italic;
  font-weight: lighter;
}*/

/* Section 2*********************************************************************/

#section2{
  flex-direction: row;
  flex-wrap: wrap;
  height:120vh
}
.projet{
 display: flex;
  width: 50%;
  height: 50%;
}

.projet:hover .opacite{
  background-color: rgba(0,0,0,0);
}

.opacite{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction:raw;
  }

#p1{
  background-image: url(mobilSound.png);
  background-size: 100% 100%;
  background-position: center;
  }

#p1:hover{
  background-size: 130% 130%;
  animation-name: zoomin1;
  animation-duration: 1s;
}

@keyframes zoomin1{
  from{
    background-size: 100% 100%;
}
  to{
    background-size: 130% 130%;
}
}

.ipsum{
  position: absolute;
  display: none;
   margin-left: 3vw;
  padding-top: 3vh;
  animation-name: apparition;
  animation-duration: 0.5s;
}
@keyframes apparition {
  from {
    opacity: 0;
    margin-left: 50%
  }

  25%{
    opacity: 0;
}

  to {
    opacity: 1;
  }
}

.projet:hover .ipsum{
  display: block;
}

.fenetre{
  display: none;
  height: 10vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  align-self: flex-end;
  animation-name: apparitionFenetre;
  animation-duration: 0.5s;
}

.projet:hover .fenetre{
  display:block
}

@keyframes apparitionFenetre {
  from {
    height: 0vh;
  }
  to {
    height:10vh;
  }
}

.detail{
  margin-top: 1vh;
  margin-left: 3vw;
  font-size: 1.2em;
}

.annee{
  margin-left: 3vw;
  font-family: 'roboto';
}


#p2{
  background-image: url(blur.jpg);
  background-size: 100% 100%;
  background-position: center;
}
#p2:hover{
  background-size: 130% 130%;
  animation-name: zoomin2;
  animation-duration: 1s;
}

@keyframes zoomin2{
  from{
    background-size: 100% 100%;
}
  to{
    background-size: 130% 130%;
}
}


#p3{
  background-image: url(p3.jpg);
  background-size: 100% 100%;
  background-position: center;
}
#p3:hover{
  background-size: 130% 130%;
  animation-name: zoomin3;
  animation-duration: 1s;
}

@keyframes zoomin3{
  from{
    background-size: 100% 100%;
}
  to{
    background-size: 130% 130%;
}
}


#p4{
  background-image: url(p4.png);
  background-size: 100% 100%;
  background-position: center;
}
#p4:hover{
  background-size: 130% 130%;
  animation-name: zoomin4;
  animation-duration: 1s;
}

@keyframes zoomin4{
  from{
    background-size: 100% 100%;
}
  to{
    background-size: 130% 130%;
}
}

/*Profil*************************************************************************/

#sectionProfil{
  height: 100%;
  padding-bottom: 40px;
  background-color: black;
}

aside{
  margin-top: 50px;
}

#quiSuisJe{
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-left: 6vw;
  font-family: 'cocomatultralight';
  font-size: 70px;
}

#presentation{
  font-family: 'Roboto';
  margin-left: 40%;
  /*background-color: green;*/
  /*align-items: center;*/
}
.titreMoi{
  color: lightgrey;
  font-weight: lighter;
  font-size: 1.9em;
  font-family: 'cocomatultralight';

}

.titreMoi p{
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 6vw;
  text-align: justify;
  font-size: 0.55em;
  color: white;
  font-family: 'Roboto';
}

.containerJauge{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.competence{
  margin-top: 20px;
  color: white;;
  font-weight:lighter;
  font-size: 1.2em;
}

.jauge{
  /*margin-top: 10px;*/
  height: 10px;
  width: 200px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}
.pourcentage{
  height: 10px;
  width: 140px;
  background-color: #110E0E;
}

#pourcentagePs{
  width: 140px;
}

#pourcentageJs{
  width: 60px;
}

#pourcentagePp{
  width: 150px;
}

#pourcentageAe{
  width: 100px;
}

.chiffre{
  color: lightgrey;
  margin-left: 20px;
  font-size: 0.9em;
}




/*footer*************************************************************************/

#opacityFooter{
  height: 100%;
  width: 100%;
  /*background-color: rgba(30, 16, 205, 0.5);*/
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#mesInspirations{
  height: 35vh;
  width: 100%;
  background-image: url(vousaimez.jpeg);
  background-size: 100%;
  background-position: 20% 5%;
  display: flex;
  }

#question{
  font-family: 'cocomatultralight';
  font-size: 1.3em;
  text-align: center;
  border: 2px solid white;
  padding: 20px;
}




/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 16, 2016 */
